In [ ]:
# declearation 

tup = (10,20,30,40)
print(type(tup),tup)

<class 'tuple'> (10, 20, 30, 40)

In [2]:
float_tup = (10.5,10.2)
mixed_tup = (10,10.5,"str",True)

print(type(float_tup),float_tup)
print(type(mixed_tup),mixed_tup)

<class 'tuple'> (10.5, 10.2)
<class 'tuple'> (10, 10.5, 'str', True)

In [5]:
tup1 = (10)
print(type(tup1),tup1)

tup2 = (10,)
print(type(tup2),tup2)

tup3 = tuple([10])
print(type(tup3),tup3)

<class 'int'> 10
<class 'tuple'> (10,)
<class 'tuple'> (10,)

In [6]:
lst = [10,20,30]
tup4 = tuple(lst)

print(type(tup4),tup4)

<class 'tuple'> (10, 20, 30)

In [10]:
# access 

tup = (10,20,30,10.5,"str",False)

# index 
print(tup[4])

# slicing 

new_tup = tup[2:5]
print(new_tup)

str
(30, 10.5, 'str')

In [14]:
# tuple method 

tup = (10,20,20,30,40,50,60,70)

print(tup.count(20))
print(tup.index(40))

2
4